.header1 td {
  background-color: red;
}
.header2 td {
  background-color: blue;
}
.border {
  border: 5px solid black;
}
#twhite {
  color: white;
}
#tblue {
  color: blue;
}
#tgreen {
  color: green;
}
#header li {
  color: white;
  background-color: black;
}
.items {
  color: black;
  font-weight: bold;
  background-color: green;
}
